.custom-img{
  max-height: 40px;
  max-width: 40px;
}
.custom-thumbnail{
  height: 40px;
  width: 40px;
}
.custom-record{
  color: red;
}
.custom-logo{
  margin: 5px;
}
a, a:hover{
  color: #555;
}
.custom-big-img{
  display: flex;
}
.custom-hflip{
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.custom-vflip{
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
.custom-vhflip{
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.custom-noflip{
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.custom-r0{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.custom-r90{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.custom-r180{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.custom-r270{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.custom-bigfont{
  font-size: 120px;
}
.custom-r0, .custom-r90, .custom-r180, .custom-r270,
.custom-hflip, .custom-vflip, .custom-vhflip, .custom-noflip {
  -webkit-transsition: transform 0.5s;
  transition: transform 0.5s;
}
.custom-greens{
  background: -moz-linear-gradient(left,lawngreen,springgreen);
  background: linear-gradient(to left,lawngreen,springgreen)
}
.custom-red-yellow{
  background: -moz-linear-gradient(left,red,orange,yellow);
  background: linear-gradient(to left,red,orange,yellow)
}
.custom-blues{
  background: -moz-linear-gradient(left,cyan,dodgerblue,royalblue);
  background: linear-gradient(to left,cyan,dodgerblue,royalblue)
}
.custom-purples{
  background: -moz-linear-gradient(left,magenta,blueviolet);
  background: linear-gradient(to left,magenta,blueviolet)
}
.custom-blue{
  background: blue;
}
.custom-lime{
  background: lime;
}
.custom-red{
  background: red;
}
.custom-uvplane{
  height: 256px;
  width: 256px;
  background: url(../img/uvplane.png);
  cursor: crosshair;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: white;
}
.custom-uvplane div{
  -webkit-user-select: none;
  -moz-user-select: none;
  position:absolute;
  color: white;
}
.custom-planeselectorx{
  height: 1px;
  width: 256px;
  background: white;
}
.custom-planeselectory{
  height: 256px;
  width: 1px;
  background: white;
}
.custom-next{
  position: absolute;
}
