html {
    font-size: 100%;

}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    outline: 0;
}

a {
    color: #6A5CAE;
}

a:hover {
    text-decoration: underline;
}

a.btn:hover {
    text-decoration: none;
}

/* heading section */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

/* table section */

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table thead th {
    border-bottom: 1px solid black;
    font-weight: bold;
}

table tbody tr:nth-of-type(even){
    background-color: #FAFAFA;
}

table tbody tr:hover{
    background-color: #F0F0F0;
}

table tbody tr td {
    padding: 5px 0;
}

/* header section */

.header-bar {
    padding: 10px;
    min-height: 50px;
    box-sizing: border-box;
}

/* button section */

button::-moz-focus-inner {
    border: 0;
}

.btn {
    color: black;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    transition: box-shadow .25s ease;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
}

.btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .75);
    position: relative;
}

.btn:active {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .75);
}

.btn.round {
    border-radius: 50px;
}

.btn.icon {
    height: 50px;
    width: 50px;
    border: none;
}

/* helper section*/

.icon {
    font-size: 1.25em !important;
}

.hidden {
    display: none !important;
}

/* grouped section*/

.grouped {
    display: flex;
}

.grouped > .btn,
.grouped > .checkbox-btn + label,
.grouped > .radio-btn + label {
    border-radius: 0;
}

.grouped > .btn:not(:first-child),
.grouped > .checkbox-btn + label:not(:first-of-type),
.grouped > .radio-btn + label:not(:first-of-type) {
    border-left: 0;
}

.grouped > .btn:first-child,
.grouped > .checkbox-btn + label:first-of-type,
.grouped > .radio-btn + label:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.grouped > .btn:last-child,
.grouped > .checkbox-btn + label:last-of-type,
.grouped > .radio-btn + label:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* flex grid section */

.f-row {
    display: flex;
    flex-wrap: wrap;
}

.f-row.h-end {
    justify-content: flex-end;
}

.f-row.v-end {
    align-items: flex-end;
}

.f-row.h-center {
    justify-content: center;
}

.f-row.v-center {
    align-items: center;
}

.f-row.h-around {
    justify-content: space-around;
}

.f-1-1 {
    flex-basis: 100%;
    max-width: 100%;
}

.f-7-8 {
    flex-basis: 87.5%;
    max-width: 87.5%;
}

.f-3-4 {
    flex-basis: 75%;
    max-width: 75%;
}

.f-5-8 {
    flex-basis: 62.5%;
    max-width: 62.5%;
}

.f-1-2 {
    flex-basis: 50%;
    max-width: 50%;
}

.f-3-8 {
    flex-basis: 37.5%;
    max-width: 37.5%;
}

.f-1-4 {
    flex-basis: 25%;
    max-width: 25%;
}

.f-1-8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
}

/* tabs section */

.tabs {
    display: flex;
}

.tabs > .tab {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.tabs > .tab:after {
    content: "";
    box-shadow: inset 0px -3px lightgray;
    display: block;
    padding-top: 10px;
    transition: transform .25s ease;
    transform: scaleX(0);
}

.tabs > .tab:hover:after {
    transform: scaleX(1);
}

.tabs > .tab.selected:after,
.tabs > .tab.selected:hover:after {
    transform: scaleX(1);
    box-shadow: inset 0px -3px black;
    cursor: inherit;
}

.tabs > .tab:first-child {
    padding-left: 0;
}

.tabs > .tab:last-child {
    padding-right: 0;
}

.tabs.vertical {
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: baseline;
}

.tabs.vertical > .tab {
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

.tabs.vertical > .tab:first-of-type{
    margin-top: 0;
}

.tabs.vertical > .tab:after {
    padding-top: 5px;
}

/* modal section */

body.modal-open{
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    cursor: pointer;
    justify-content: center;
    padding: 10px 0;
}

.modal.show {
    display: flex;
}

.modal > .modal-container {
    margin: 0 auto;
    cursor: initial;
    flex-basis: 50%;
    max-width: 50%;
    height: 0;
}

.modal > .modal-container > .modal-header,
.modal > .modal-container > .modal-body,
.modal > .modal-container > .modal-footer {
    padding: 10px;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
}

.modal > .modal-container > .modal-header {
    font-size: 1.5rem;
}

.modal > .modal-container > .modal-header,
.modal > .modal-container > .modal-footer {
    background-color: #FAFAFA;
}

.modal > .modal-container > .modal-header,
.modal > .modal-container > .modal-body:first-of-type {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.modal > .modal-container > .modal-body {
    background-color: white;
}

.modal > .modal-container > .modal-footer,
.modal > .modal-container > .modal-body:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal > .modal-container .modal-x {
    float: right;
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: 1rem !important;
    background-color: transparent;
}

/* checkbox and radio section */

.checkbox-left,
.checkbox-right,
.checkbox-btn,
.radio-left,
.radio-right,
.radio-btn {
    display: none;
}

.checkbox-left + label,
.checkbox-right + label,
.checkbox-btn + label,
.radio-right + label,
.radio-left + label,
.radio-btn + label {
    cursor: pointer;
    display: inline-block;
}

.checkbox-left + label:before,
.radio-left + label:before {
    margin-right: 5px;
}
.checkbox-right + label:after,
.radio-right + label:after{
    margin-left: 5px;
}

.checkbox-left + label:before,
.checkbox-right + label:after,
.radio-left + label:before,
.radio-right + label:after {
    background-color: white;
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    content: "";
    vertical-align: middle;
    transition: box-shadow .25s ease, background-color .25s ease;
}

.checkbox-left + label:before,
.checkbox-right + label:after {
    border-radius: 4px;
}

.radio-left + label:before,
.radio-right + label:after {
    border-radius: 10px;
}

.checkbox-left + label:hover:before,
.checkbox-right + label:hover:after,
.radio-left + label:hover:before,
.radio-right + label:hover:after {
    box-shadow: inset 0 0 0 3px white, 0px 0px 5px rgba(0, 0, 0, .75);
}

.checkbox-left + label:active:before,
.checkbox-right + label:active:after,
.radio-left + label:active:before,
.radio-right + label:active:after,
.checkbox-left:checked + label:hover:before,
.checkbox-right:checked + label:hover:after,
.radio-left:checked + label:hover:before,
.radio-right:checked + label:hover:after {
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .75), inset 0 0 0 3px white;
}

.checkbox-left:checked + label:active:before,
.checkbox-right:checked + label:active:after,
.radio-left:checked + label:active::before,
.radio-right:checked + label:active::after,
.checkbox-left:checked + label:before,
.checkbox-right:checked + label:after,
.radio-left:checked + label:before,
.radio-right:checked + label:after {
    background-color: black;
    box-shadow: inset 0 0 0 3px white;
}

.checkbox-btn + label,
.radio-btn + label {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    transition: box-shadow .25s ease;
    background-color: white;
}

.checkbox-btn + label:hover,
.radio-btn + label:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
    position: relative;
}

.checkbox-btn:checked + label:hover,
.radio-btn:checked + label:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .75);
}

.checkbox-btn:checked + label,
.radio-btn:checked + label,
.checkbox-btn + label:active,
.radio-btn + label:active,
.checkbox-btn:checked + label:active,
.radio-btn:checked + label:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .75);
}

/* link section */

.link:hover {
    cursor: pointer;
    color: gray;
}

/* select section */

.select {
    display: none;
}

.span-select {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.span-select-value {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 0;
    transition: box-shadow .25s ease;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.span-select-value:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.span-select-value:focus{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .75);
}

.span-select-options {
    position: absolute;
    display: block;
    border: 1px solid black;
    border-top: none;
    background-color: white;
    max-height: 0;
    overflow-y: auto;
    z-index: 2;
    visibility: hidden;
    text-align: center;
    left: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
}

.span-select-options.show {
    visibility: visible;
    max-height: 200px;
}

.span-select-options.show.up {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .75);
    border: 1px solid black;
    border-bottom: none;
}

.span-select-options > span {
    display: block;
    padding: 5px 20px;
}

.span-select-options > span:hover {
    background-color: #F0F0F0;
}

.span-select-options > span.selected,
.span-select-options > span.selected:hover {
    background-color: #E0E0E0;
}

/* range section */

.range {
    display: none;
}

.span-range-container {
    padding: 0px 15px;
    position: relative;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    vertical-align: middle;
}

.span-range {
    display: inline-block;
    position: relative;
    width: 100%;
}

.span-range:before {
    position: absolute;
    background-color: #FAFAFA;
    top: 7px;
    bottom: 7px;
    right: 0;
    left: 0;
    content: "";
    border-radius: 10px;
    border: 1px solid black;
}

.span-range-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.span-range-dot {
    position: absolute;
    border: 1px solid black;
    border-radius: 50px;
    height: 28px;
    width: 28px;
    transform: translateX(-50%);
    background-color: white;
    transition: box-shadow .25s ease;
    margin-left: 50%;
}

.span-range-dot:active,
.span-range-bar:active + .span-range-dot {
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .75);
}

.span-range-value {
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    padding: 5px;
    top: -42px;
    transform: translateX(-50%);
    background-color: white;
    display: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .75);
    border-radius: 4px;
}

.span-range-bar:hover ~ .span-range-value,
.span-range-dot:active ~ .span-range-value,
.span-range-dot:hover ~ .span-range-value,
.span-range-bar:active ~ .span-range-value {
    display: block;
}

.span-range-value:before,
.span-range-value:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
}

.span-range-value:after {
    border-width: 5px;
    border-color: white transparent transparent transparent;
}

.span-range-value:before {
    border-width: 6px;
    border-color: black transparent transparent transparent;
}

/* text formatting section */

.paragraph {
    text-align: justify;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

.indent {
    text-indent: 25px;
}

code,
.code {
    background-color: #9F9F9F;
    color: #FAFAFA;
    font-family: monospace;
    font-weight: bold;
    padding: 1px 1px;
}