table tbody tr:hover {
    cursor: pointer;
}

.piollo-no-video {
    background-image: url("../img/uvplane.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    background-size: 500px;
}

.piollo-video {
    height: 500px;
    max-width: 100%;
}

.piollo-fullscreen {
    height: 100%;
}

.piollo-video-container {
    background-color: lightgray;
    height: 500px;
}

.piollo-streaming-controls-container {
    height: 100px;
    width: 100%;
    transform: translateY(-100%);
    cursor: default;
}

.piollo-controls {
    background-color: rgba(255, 255, 255, .25);
    padding: 10px;
    border-radius: 50px;
    margin
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

.piollo-loading {
    animation: spin 1s linear infinite;
    border: 2px solid #01FB01;
    border-left-color: #0296FF;
    border-bottom-color: #FE02FE;
    border-right-color: #FE6A00;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    padding: 10px;
}

.piollo-thumbnail {
    max-height: 100px;
    max-width: 100%;
}

.piollo-file-browser {
    height: 500px;
    overflow-y: auto;
}

#about-piollo > .modal-container {
    flex-basis: 25%;
    max-width: 25%;
}
#about-piollo > .modal-container > .modal-body > div {
    margin-top: 20px;
}

.piollo-menu-option {
    padding: 10px 0;
}

.piollo-icon-transform {
    font-size: 120px;
    transition: transform .5s linear;
}

.piollo-rotate-0 {
    transform: rotate(0deg);
}

.piollo-rotate-90 {
    transform: rotate(90deg);
}

.piollo-rotate-180 {
    transform: rotate(180deg);
}

.piollo-rotate-270 {
    transform: rotate(270deg);
}

.piollo-hflip-true {
    transform: scale(-1, 1);
}

.piollo-vflip-true {
    transform: scale(1, -1);
}

.piollo-hflip-true.piollo-vflip-true  {
    transform: scale(-1, -1);
}

.piollo-uv-plane-picker {
    position: relative;
    height: 256px;
    width: 256px;
    background-image: url('../img/uvplane.png');
    cursor: crosshair;
}

.piollo-uv-plane-picker > * {
    position: absolute;
}

.piollo-uv-plane-y-bar {
    width: 100%;
    background-color: white;
    height: 1px;
}

.piollo-uv-plane-x-bar {
    height: 100%;
    background-color: white;
    width: 1px;
}

.piollo-uv-plane {
    height: 256px;
    width: 256px;
}

.piollo-uv-value {
    color: white;
    opacity: 0;
    transition: opacity .5s ease;
}

.piollo-uv-plane-picker:hover > .piollo-uv-value {
    opacity: 1;
}