<html data-ng-app="piolloApp" data-ng-controller="piolloController">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" href="img/piollo-favicon.png" type="image/png" sizes="16x16"/>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" type="text/css" href="css/larvae.css"/>
        <link rel="stylesheet" type="text/css" href="css/piollo.css"/>
        <script src="js/angular.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>-->
        <script src="js/texts.js"></script>
        <script src="js/larvae.js"></script>
        <title>piollo</title>
    </head>
    <body class="translate" data-langs="langs" data-texts="texts" data-selected-lang="selectedLang" data-default-lang="defaultLang">
        <div class="modal" id="configuration">
            <div class="modal-container">
                <div class="modal-header">
                    <i class="fa fa-cogs"></i>&nbsp;<span class="text" data-text="configuration"></span>
                </div>
                <div class="modal-body">
                    <div class="tabs w-full">
                        <div class="selected" data-reference="config-camera">
                            <i class="fa fa-camera icon"></i>&nbsp;<span class="text" data-text="camera"></span>
                        </div>
                        <div data-reference="config-page">
                            <span>
                                <i class="fa fa-file-o icon"></i>&nbsp;<span class="text" data-text="page"></span>
                            </span>
                        </div>
                    </div>
                    <div id="config-camera" class="w-full">
                        <div class="piollo-menu-option w-full">
                            <label for="formatSelector" class="text" data-text="img-format"></label>:&nbsp;
                            <select id="formatSelector" class="select" data-variable="format" data-options="formats"></select>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <label for="imageWidth" class="text" data-text="image-width"></label>
                            <span style="width: 200px; display: inline-block;">
                                <input id="imageWidth" data-ng-model="imageWidth" min="0" max="100" type="range" class="range" value="50"/>
                            </span>
                            {{imageWidth}}
                        </div>
                        <div class="piollo-menu-option w-full">
                            <span class="text" data-text="image-height"></span>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <div class="w-half">
                                <span class="text" data-text="rotate-image"></span>
                            </div>
                            <div class="w-half">
                                <span class="text" data-text="flip-image"></span>
                            </div>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <span class="text" data-text="image-brightness"></span>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <span class="text" data-text="image-contrast"></span>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <span class="text" data-text="image-saturation"></span>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <span class="text" data-text="image-sharpness"></span>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <label for="effectSelector" class="text" data-text="image-effect"></label>:&nbsp;
                            <select id="effectSelector" class="select" data-variable="effect" data-options="effects"></select>
                        </div>
                    </div>
                    <div id="config-page" class="w-full">
                        <div class="piollo-menu-option w-full">
                            <input type="checkbox" data-ng-model="aboutPage" class="checkbox-left" id="aboutPage"/>
                            <label for="aboutPage">
                                <span class="text" data-text="show-about"></span>
                            </label>
                        </div>
                        <div class="piollo-menu-option w-full">
                            <div class="w-full">
                                <label for="langSelector">
                                    <span class="text" data-text="language"></span>:&nbsp;
                                </label>
                                <select id="langSelector" class="select" data-variable="selectedLang" data-options="langs"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="vh-right-container">
                        <div class="grouped">
                            <button class="btn modal-closer" data-reference="configuration">
                                <i class="fa fa-close"></i>&nbsp;<span class="text" data-text="close"></span>
                            </button>
                            <button class="btn">
                                <i class="fa fa-save"></i>&nbsp;<span class="text" data-text="save"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="about-piollo">
            <div class="modal-container">
                <div class="modal-header">
                    <i class="fa fa-info-circle"></i>&nbsp;<span class="text" data-text="about"></span>
                </div>
                <div class="modal-body footer">
                    <div class="w-full t-center">
                        <img src="img/piollo.svg"/>
                    </div>
                    <div class="t-center w-full text" data-text="about-text"></div>
                    <div class="w-full t-center">
                        <a href="https://github.com/oknalv/piollo" class="btn">
                            <i class="fa fa-github"></i>&nbsp;
                            <span class="text" data-text="github"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bar w-full">
            <div class="vh-center-container w-three-quarters">
                    <img src="img/piollo.svg"/>
            </div>
            <div class="w-quarter vh-right-container">
                <button class="btn icon round modal-launcher" data-reference="configuration">
                    <i class="fa fa-cogs"></i>
                </button>
                <button class="btn icon round modal-launcher" data-reference="about-piollo" data-ng-if="aboutPage">
                    <i class="fa fa-info-circle"></i>
                </button>
            </div>
        </div>
        <div class="w-full">
            <div class="w-three-quarters">
                <div class="vh-center-container header-bar">
                        <button class="btn icon round" data-ng-click="takePicture()" data-ng-if="!taking">
                            <i class="fa fa-camera"></i>
                        </button>
                        <div data-ng-if="taking" class="piollo-loading piollo-loading-black">
                            <div></div>
                        </div>
                        <button class="btn icon round piollo-led-on-btn" data-ng-if="ledOn" data-ng-click="turnOffLed()">
                            <i class="fa fa-lightbulb-o"></i>
                        </button>
                        <button class="btn icon round" data-ng-if="!ledOn" data-ng-click="turnOnLed()">
                            <i class="fa fa-lightbulb-o"></i>
                        </button>

                </div>
                <div class="piollo-video-container" id="video-container">
                    <div class="vh-center-container" data-ng-if="streaming && !loading" id="video-parent">
                        <img id="video" class="piollo-video"/>
                    </div>
                    <div class="piollo-no-video vh-center-container" data-ng-if="!streaming || streaming && loading">
                        <div class="piollo-controls">
                            <div data-ng-if="loading" class="piollo-loading piollo-loading-black">
                                <div></div>
                            </div>
                            <button data-ng-if="!loading" class="btn icon round" data-ng-click="startStreaming()">
                                <i class="fa fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div
                            class="piollo-streaming-controls-container vh-center-container"
                            data-ng-mouseenter="streamingControlsVisible = true"
                            data-ng-mouseleave="streamingControlsVisible = false"
                    >
                        <div class="piollo-controls" data-ng-if="streaming && streamingControlsVisible">
                            <button class="btn icon round" data-ng-click="stopStreaming()">
                                <i class="fa fa-stop"></i>
                            </button>
                            <button class="btn icon round" data-ng-if="streaming && !loading" data-ng-click="fullScreen()">
                                <i class="fa fa-arrows-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-quarter">
                <div class="header-bar w-full tabs">
                    <div class="selected" data-reference="pictures">
                        <i class="fa fa-picture-o icon"></i>
                    </div>
                    <!--<div data-reference="videos">
                        <i class="fa fa-film icon"></i>
                    </div>-->
                </div>
                <div id="pictures" class="w-full piollo-file-browser">
                    <table data-ng-if="pictures.length > 0" class="w-full table">
                        <tbody>
                            <tr data-ng-repeat="picture in pictures" data-ng-click="showImage(picture)">
                                <td><img data-ng-src="thumbnails/{{picture}}" class="piollo-thumbnail h-center"/></td>
                                <td>{{picture}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div id="videos" class="w-full">
                    zsadasd
                </div>-->
            </div>
        </div>
        <img id="pic"/>
        <script src="js/app.js"></script>
    </body>
</html>