<html data-ng-app="piolloApp" data-ng-controller="piolloController">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" href="img/piollo-favicon.png" type="image/png" sizes="16x16"/>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" type="text/css" href="css/larvae.css"/>
        <link rel="stylesheet" type="text/css" href="css/piollo.css"/>
        <script src="js/angular.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>-->
        <script src="js/texts.js"></script>
        <script src="js/larvae.js"></script>
        <title>piollo</title>
    </head>
    <body class="translate" data-lrv-texts="texts" data-lrv-selected-lang="selectedLang" data-lrv-default-lang="defaultLang">
        <div class="modal" id="configuration">
            <div class="modal-container">
                <div class="modal-header">
                    <i class="fa fa-cogs icon"></i>&nbsp;<span class="text" data-lrv-text="configuration"></span>
                </div>
                <div class="modal-body">
                    <div class="tabs">
                        <div class="selected" data-lrv-tab="config-camera">
                            <i class="fa fa-camera icon"></i>&nbsp;<span class="text" data-lrv-text="camera"></span>
                        </div>
                        <div data-lrv-tab="config-page">
                            <span>
                                <i class="fa fa-file-o icon"></i>&nbsp;<span class="text" data-lrv-text="page"></span>
                            </span>
                        </div>
                    </div>
                    <div id="config-camera">
                        <div class="piollo-menu-option">
                            <label for="formatSelector" class="text" data-lrv-text="img-format"></label>:&nbsp;
                            <select id="formatSelector" class="select" data-lrv-model="format" data-lrv-options="formats"></select>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="width" class="text" data-lrv-text="image-width"></label>:&nbsp;{{width}}
                            <input id="width" data-lrv-model="width" min="0" max="100" type="range" class="range" value="50"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="height" class="text" data-lrv-text="image-height"></label>:&nbsp;{{height}}
                            <input id="height" data-lrv-model="height" min="0" max="100" type="range" class="range" value="50"/>
                        </div>
                        <div class="piollo-menu-option f-row">
                            <div class="f-1-2">
                                <span class="text" data-lrv-text="rotate-image"></span>
                                <div class="f-row v-center">
                                    <div>
                                        <button class="btn icon">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                        <button class="btn icon">
                                            <i class="fa fa-repeat"></i>
                                        </button>
                                    </div>
                                    <i class="fa fa-picture-o piollo-big-icon"></i>
                                </div>
                            </div>
                            <div class="f-1-2">
                                <span class="text" data-lrv-text="flip-image"></span>
                                <div class="f-row v-center">
                                    <div>
                                        <button class="btn icon">
                                            <i class="fa fa-exchange fa-rotate-90"></i>
                                        </button>
                                        <button class="btn icon">
                                            <i class="fa fa-exchange"></i>
                                        </button>
                                    </div>
                                    <i class="fa fa-picture-o piollo-big-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="brightness" class="text" data-lrv-text="image-brightness"></label>:&nbsp;{{brightness}}
                            <input id="brightness" data-lrv-model="brightness" min="0" max="255" type="range" class="range" value="50"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="contrast" class="text" data-lrv-text="image-contrast"></label>:&nbsp;{{contrast}}
                            <input id="contrast" data-lrv-model="contrast" min="0" max="255" type="range" class="range" value="50"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="saturation" class="text" data-lrv-text="image-saturation"></label>:&nbsp;{{saturation}}
                            <input id="saturation" data-lrv-model="saturation" min="0" max="255" type="range" class="range" value="50"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="sharpness" class="text" data-lrv-text="image-sharpness"></label>:&nbsp;{{sharpness}}
                            <input id="sharpness" data-lrv-model="sharpness" min="0" max="255" type="range" class="range" value="50"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="effectSelector" class="text" data-lrv-text="image-effect"></label>:&nbsp;
                            <select id="effectSelector" class="select" data-lrv-model="effect" data-lrv-options="effects"></select>
                        </div>
                    </div>
                    <div id="config-page">
                        <div class="piollo-menu-option">
                            <input type="checkbox" data-ng-model="aboutPage" class="checkbox-left" id="aboutPage"/>
                            <label for="aboutPage">
                                <span class="text" data-lrv-text="show-about"></span>
                            </label>
                        </div>
                        <div class="piollo-menu-option">
                            <div class="w-full">
                                <label for="langSelector">
                                    <span class="text" data-lrv-text="language"></span>:&nbsp;
                                </label>
                                <select id="langSelector" class="select" data-lrv-model="selectedLang" data-lrv-options="langs"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="f-row h-end">
                        <div class="grouped">
                            <button class="btn modal-closer" data-lrv-modal="configuration">
                                <i class="fa fa-close"></i>&nbsp;<span class="text" data-lrv-text="close"></span>
                            </button>
                            <button class="btn">
                                <i class="fa fa-save"></i>&nbsp;<span class="text" data-lrv-text="save"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="about-piollo">
            <div class="modal-container">
                <div class="modal-header">
                    <i class="fa fa-info-circle icon"></i>&nbsp;<span class="text" data-lrv-text="about"></span>
                </div>
                <div class="modal-body">
                    <div class="f-row h-center">
                        <img src="img/piollo.svg"/>
                    </div>
                    <div class="f-row h-center">
                        <span class="t-center text" data-lrv-text="about-text"></span>
                    </div>
                    <div class="f-row h-center">
                        <a href="https://github.com/oknalv/piollo" class="btn">
                            <i class="fa fa-github"></i>&nbsp;
                            <span class="text" data-lrv-text="github"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bar f-row">
            <div class="f-3-4 f-row v-center h-center">
                    <img src="img/piollo.svg"/>
            </div>
            <div class="f-1-4 f-row v-center h-end">
                <button class="btn icon round modal-launcher" data-lrv-modal="configuration">
                    <i class="fa fa-cogs"></i>
                </button>
                <button class="btn icon round modal-launcher" data-lrv-modal="about-piollo" data-ng-if="aboutPage">
                    <i class="fa fa-info-circle"></i>
                </button>
            </div>
        </div>
        <div class="f-row">
            <div class="f-3-4">
                <div class="header-bar f-row h-center v-center">
                    <button class="btn icon round" data-ng-click="takePicture()" data-ng-if="!taking">
                        <i class="fa fa-camera"></i>
                    </button>
                    <div data-ng-if="taking" class="piollo-loading piollo-loading-black">
                        <div></div>
                    </div>
                    <button class="btn icon round piollo-led-on-btn" data-ng-if="ledOn" data-ng-click="turnOffLed()">
                        <i class="fa fa-lightbulb-o"></i>
                    </button>
                    <button class="btn icon round" data-ng-if="!ledOn" data-ng-click="turnOnLed()">
                        <i class="fa fa-lightbulb-o"></i>
                    </button>
                </div>
                <div class="piollo-video-container" id="video-container">
                    <div class="f-row v-center h-center" data-ng-if="streaming && !loading" id="video-parent">
                        <img id="video" class="piollo-video"/>
                    </div>
                    <div class="piollo-no-video f-row v-center h-center" data-ng-if="!streaming || streaming && loading">
                        <div class="piollo-controls">
                            <div data-ng-if="loading" class="piollo-loading piollo-loading-black">
                                <div></div>
                            </div>
                            <button data-ng-if="!loading" class="btn icon round" data-ng-click="startStreaming()">
                                <i class="fa fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div
                            class="piollo-streaming-controls-container f-row v-center h-center"
                            data-ng-mouseenter="streamingControlsVisible = true"
                            data-ng-mouseleave="streamingControlsVisible = false"
                    >
                        <div class="piollo-controls" data-ng-if="streaming && streamingControlsVisible">
                            <button class="btn icon round" data-ng-click="stopStreaming()">
                                <i class="fa fa-stop"></i>
                            </button>
                            <button class="btn icon round" data-ng-if="streaming && !loading" data-ng-click="fullScreen()">
                                <i class="fa fa-arrows-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f-1-4">
                <div class="header-bar tabs">
                    <div class="selected" data-lrv-tab="pictures">
                        <i class="fa fa-picture-o icon"></i>
                    </div>
                    <!--<div data-lrv-tab="videos">
                        <i class="fa fa-film icon"></i>
                    </div>-->
                </div>
                <div id="pictures" class="piollo-file-browser">
                    <table data-ng-if="pictures.length > 0" class="w-full table">
                        <tbody>
                            <tr data-ng-repeat="picture in pictures" data-ng-click="showImage(picture)">
                                <td><img data-ng-src="thumbnails/{{picture}}" class="piollo-thumbnail h-center"/></td>
                                <td>{{picture}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div id="videos" class="w-full">
                    zsadasd
                </div>-->
            </div>
        </div>
        <img id="pic"/>
        <script src="js/app.js"></script>
    </body>
</html>