table > tbody > tr > td > img:hover {
    cursor: pointer;
}

.piollo-no-video {
    background-image: url("../img/uvplane.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    background-size: 500px;
}

.piollo-video {
    height: 500px;
    max-width: 100%;
}

.piollo-fullscreen {
    height: 100%;
}

.piollo-video-container {
    background-color: lightgray;
    height: 500px;
}

.piollo-streaming-controls-container {
    height: 100px;
    width: 100%;
    transform: translateY(-100%);
    cursor: default;
}

.piollo-controls {
    background-color: rgba(255, 255, 255, .25);
    padding: 10px;
    border-radius: 50px;
    margin
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

.piollo-loading {
    animation: spin 1s linear infinite;
    border: 2px solid #01FB01;
    border-left-color: #0296FF;
    border-bottom-color: #FE02FE;
    border-right-color: #FE6A00;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    padding: 10px;
}

.piollo-thumbnail {
    max-height: 100px;
    max-width: 100%;
}

.piollo-file-browser {
    height: 500px;
    overflow-y: auto;
}

#about-piollo > .modal-container {
    flex-basis: 25%;
    max-width: 25%;
}
#about-piollo > .modal-container > .modal-body > div {
    margin-top: 20px;
}

.piollo-menu-option {
    padding: 10px 0;
}

.piollo-icon-transform {
    font-size: 120px;
    transition: transform .5s linear;
}

.piollo-rotate-0 {
    transform: rotate(0deg);
}

.piollo-rotate-90 {
    transform: rotate(90deg);
}

.piollo-rotate-180 {
    transform: rotate(180deg);
}

.piollo-rotate-270 {
    transform: rotate(270deg);
}

.piollo-hflip-true {
    transform: scale(-1, 1);
}

.piollo-vflip-true {
    transform: scale(1, -1);
}

.piollo-hflip-true.piollo-vflip-true  {
    transform: scale(-1, -1);
}

.piollo-uv-plane-picker {
    margin-top: 5px;
}

.piollo-uv-plane-container {
    position: relative;
    height: 256px;
    width: 256px;
    background-image: url('../img/uvplane.png');
    cursor: crosshair;
    display: flex;
}

.piollo-uv-plane-container > * {
    position: absolute;
}

.piollo-uv-plane-y-bar {
    width: 100%;
    background-color: white;
    height: 1px;
}

.piollo-uv-plane-x-bar {
    height: 100%;
    background-color: white;
    width: 1px;
}

.piollo-uv-plane {
    height: 256px;
    width: 256px;
}

.piollo-uv-value {
    color: white;
    opacity: 0;
    transition: opacity .5s ease;
}

.piollo-uv-plane-container:hover > .piollo-uv-value {
    opacity: 1;
}

.piollo-colorswap {
    display: inline-flex;
}

.piollo-r,
.piollo-g,
.piollo-b,
.piollo-y,
.piollo-u,
.piollo-v {
    color: white;
    padding: 0 1px;
}

.piollo-r {
    background-color: #FF0000;
}

.piollo-g {
    background-color: #00FF00;
}

.piollo-b {
    background-color: #0000FF;
}

.piollo-y {
    background-color: #888888;
}

.piollo-u {
    background-color: #027B88;
}

.piollo-v {
    background-color: #778500;
}

.piollo-uv-quadrant {
    height: 100px;
    width: 100px;
    background-image: url('../img/uvplane.png');
    background-size: 100px 100px;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.piollo-uv-quadrant > input {
    display: none;
}

.piollo-uv-quadrant > label {
    height: 50px;
    width: 50px;
    transition: box-shadow .25s ease;
    cursor: pointer;
}

.piollo-uv-quadrant > label:nth-of-type(1) {
    border-top-left-radius: 4px;
}

.piollo-uv-quadrant > label:nth-of-type(2) {
    border-top-right-radius: 4px;
}

.piollo-uv-quadrant > label:nth-of-type(3) {
    border-bottom-left-radius: 4px;
}

.piollo-uv-quadrant > label:nth-of-type(4) {
    border-bottom-right-radius: 4px;
}

.piollo-uv-quadrant > label:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.piollo-uv-quadrant > input:checked + label:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .75);
}

.piollo-uv-quadrant > input:checked + label,
.piollo-uv-quadrant > input + label:active,
.piollo-uv-quadrant > input:checked + label:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .75);
}

.piollo-note {
    color: #333333;
    font-style: italic;
}

.piollo-image {
    max-height: 250px;
    max-width: 100%;
}
.piollo-main-message {
    position: fixed;
    padding: 10px;
    z-index: 10;
}