<html data-ng-app="piolloApp" data-ng-controller="piolloController">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" href="img/piollo-favicon.png" type="image/png" sizes="16x16"/>
        <!--<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--<link rel="stylesheet" type="text/css" href="css/larvae.css"/>-->
        <link rel="stylesheet" type="text/css" href="https://oknalv.github.io/larvae/src/css/larvae.css"/>
        <link rel="stylesheet" type="text/css" href="css/piollo.css"/>
        <!--<script src="js/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
        <!--<script src="js/larvae.js"></script>-->
        <script src="https://oknalv.github.io/larvae/src/js/larvae.js"></script>
        <title>piollo</title>
    </head>
    <body class="translate" data-lrv-model="langs">
        <div class="modal" id="configuration">
            <div class="modal-container">
                <div class="modal-header">
                    <i class="fa fa-cogs icon"></i> <span class="text" data-lrv-text="configuration"></span>
                </div>
                <div class="modal-body">
                    <div class="tabs">
                        <div class="selected" data-lrv-tab="config-camera">
                            <i class="fa fa-camera icon"></i> <span class="text" data-lrv-text="camera"></span>
                        </div>
                        <div data-lrv-tab="config-page">
                            <span>
                                <i class="fa fa-file-o icon"></i> <span class="text" data-lrv-text="page"></span>
                            </span>
                        </div>
                    </div>
                    <div id="config-camera">
                        <div class="piollo-menu-option">
                            <label for="formatSelect" class="text" data-lrv-text="img-format"></label>
                            <select id="formatSelect" class="select" data-lrv-model="formats"></select>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="imageWidth" class="text" data-lrv-text="image-width"></label>
                            <input id="imageWidth" data-lrv-model="width" type="range" class="range"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="imageHeight" class="text" data-lrv-text="image-height"></label>
                            <input id="imageHeight" data-lrv-model="height" type="range" class="range"/>
                        </div>
                        <div class="piollo-menu-option grid">
                            <div class="f-1-2">
                                <span class="text" data-lrv-text="rotate-image"></span>
                                <div class="grid v-center h-around">
                                    <div>
                                        <button class="btn icon round" data-ng-click="rotate(false)">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                        <button class="btn icon round" data-ng-click="rotate(true)">
                                            <i class="fa fa-repeat"></i>
                                        </button>
                                    </div>
                                    <i class="fa fa-picture-o piollo-icon-transform piollo-rotate-{{rotation}}"></i>
                                </div>
                            </div>
                            <div class="f-1-2">
                                <span class="text" data-lrv-text="flip-image"></span>
                                <div class="grid v-center h-around">
                                    <div>
                                        <button class="btn icon round" data-ng-click="flip(true)">
                                            <i class="fa fa-exchange fa-rotate-90"></i>
                                        </button>
                                        <button class="btn icon round" data-ng-click="flip(false)">
                                            <i class="fa fa-exchange"></i>
                                        </button>
                                    </div>
                                    <i class="fa fa-picture-o piollo-icon-transform piollo-hflip-{{hflip}} piollo-vflip-{{vflip}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="imageBrightness" class="text" data-lrv-text="image-brightness"></label>
                            <input id="imageBrightness" data-lrv-model="brightness" type="range" class="range"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="imageContrast" class="text" data-lrv-text="image-contrast"></label>
                            <input id="imageContrast" data-lrv-model="contrast" type="range" class="range"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="imageSaturation" class="text" data-lrv-text="image-saturation"></label>
                            <input id="imageSaturation" data-lrv-model="saturation" type="range" class="range"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="imageSharpness" class="text" data-lrv-text="image-sharpness"></label>
                            <input id="imageSharpness" data-lrv-model="sharpness" type="range" class="range"/>
                        </div>
                        <div class="piollo-menu-option">
                            <label for="effectSelector" class="text" data-lrv-text="image-effect"></label>
                            <select id="effectSelector" class="select" data-lrv-model="imageEffects"></select>
                            <span data-ng-show="imageEffects.value == 'watercolor'">
                                <input type="checkbox" class="checkbox-btn" id="watercolorEnableParams" data-ng-model="watercolorParams.enabled"/>
                                <label for="watercolorEnableParams" class="text" data-lrv-text="enable-params"></label>
                            </span>
                            <span data-ng-show="imageEffects.value == 'film'">
                                <input type="checkbox" class="checkbox-btn" id="filmEnableParams" data-ng-model="filmParams.enabled"/>
                                <label for="filmEnableParams" class="text" data-lrv-text="enable-params"></label>
                            </span>
                        </div>
                        <div data-ng-show="imageEffects.value == 'solarize'">
                            TODO
                        </div>
                        <div data-ng-show="imageEffects.value == 'colorpoint'">
                            <div class="piollo-menu-option one-line">
                                <span class="text" data-lrv-text="uv-quadrant"></span>
                                <div class="piollo-uv-quadrant">
                                    <input id="colorpointRedYellow" type="radio" data-ng-model="colorpointQuadrant" value="1">
                                    <label for="colorpointRedYellow"></label>
                                    <input id="colorpointPurple" type="radio" data-ng-model="colorpointQuadrant" value="3">
                                    <label for="colorpointPurple"></label>
                                    <input id="colorpointGreen" type="radio" data-ng-model="colorpointQuadrant" value="0">
                                    <label for="colorpointGreen"></label>
                                    <input id="colorpointBlue" type="radio" data-ng-model="colorpointQuadrant" value="2">
                                    <label for="colorpointBlue"></label>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="imageEffects.value == 'colorbalance'">
                            TODO
                        </div>
                        <div data-ng-show="imageEffects.value == 'colorswap'">
                            <div class="piollo-menu-option">
                                <span class="text" data-lrv-text="mode"></span>
                                <div class="grouped">
                                    <input id="rgbToBgr" type="radio" class="radio-btn" data-ng-model="colorswapDir" value="0">
                                    <label for="rgbToBgr">
                                        <span class="text" data-lrv-text="rgb-to-bgr"></span>
                                        <span class="piollo-colorswap">
                                            <span class="piollo-r"></span>
                                            <span class="piollo-g"></span>
                                            <span class="piollo-b"></span>
                                        </span>
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="piollo-colorswap">
                                            <span class="piollo-b"></span>
                                            <span class="piollo-g"></span>
                                            <span class="piollo-r"></span>
                                        </span>
                                    </label>
                                    <input id="rgbToBrg" type="radio" class="radio-btn" data-ng-model="colorswapDir" value="1">
                                    <label for="rgbToBrg">
                                        <span class="text" data-lrv-text="rgb-to-brg"></span>
                                        <span class="piollo-colorswap">
                                            <span class="piollo-r"></span>
                                            <span class="piollo-g"></span>
                                            <span class="piollo-b"></span>
                                        </span>
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="piollo-colorswap">
                                            <span class="piollo-b"></span>
                                            <span class="piollo-r"></span>
                                            <span class="piollo-g"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="imageEffects.value == 'posterise'">
                            <div class="piollo-menu-option">
                                <label for="posteriseSteps" class="text" data-lrv-text="color-quantization"></label>
                                <input id="posteriseSteps" type="range" class="range" data-lrv-model="posteriseSteps"/>
                            </div>
                        </div>
                        <div data-ng-show="imageEffects.value == 'blur'">
                            <div class="piollo-menu-option">
                                <span class="text" data-lrv-text="kernel-size"></span>
                                <span class="grouped">
                                    <input id="blurSize1" type="radio" class="radio-btn" data-ng-model="blurSize" value="1"/>
                                    <label for="blurSize1">1</label>
                                    <input id="blurSize2" type="radio" class="radio-btn" data-ng-model="blurSize" value="2"/>
                                    <label for="blurSize2">2</label>
                                </span>
                            </div>
                        </div>
                        <div data-ng-show="imageEffects.value == 'film' && filmParams.enabled">
                            <div class="piollo-menu-option">
                                <label for="filmStrength" class="text" data-lrv-text="strength"></label>
                                <input id="filmStrength" data-lrv-model="filmParams.strength" type="range" class="range"/>
                            </div>
                            <div class="piollo-menu-option">
                                <label for="filmUV" class="text" data-lrv-text="uv-offset"></label>
                                <div id="filmUV" class="piollo-uv-plane-picker" data-piollo-model="filmParams"></div>
                            </div>
                        </div>
                        <div data-ng-show="imageEffects.value == 'watercolor' && watercolorParams.enabled">
                            <div class="piollo-menu-option">
                                <label for="watercolorUV" class="text" data-lrv-text="uv-offset"></label>
                                <div id="watercolorUV" class="piollo-uv-plane-picker" data-piollo-model="watercolorParams"></div>
                            </div>
                        </div>
                    </div>
                    <div id="config-page">
                        <div class="piollo-menu-option">
                            <input type="checkbox" data-ng-model="aboutPage" class="checkbox-left" id="aboutPage"/>
                            <label for="aboutPage">
                                <span class="text" data-lrv-text="show-about"></span>
                            </label>
                        </div>
                        <div class="piollo-menu-option">
                            <div class="w-full">
                                <label for="langSelector">
                                    <span class="text" data-lrv-text="language"></span>
                                </label>
                                <select id="langSelector" class="select" data-lrv-model="langs"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="grid h-between">
                        <div class="message" id="configMessage"></div>
                        <div>
                            <button class="btn modal-closer" data-lrv-modal="configuration">
                                <i class="fa fa-close"></i> <span class="text" data-lrv-text="close"></span>
                            </button>
                            <button class="btn" data-ng-click="applyConfig()" data-ng-show="!loadingConfig">
                                <i class="fa fa-check"></i> <span class="text" data-lrv-text="apply"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="about-piollo">
            <div class="modal-container">
                <div class="modal-header">
                    <i class="fa fa-info-circle icon"></i> <span class="text" data-lrv-text="about"></span>
                </div>
                <div class="modal-body">
                    <div class="grid h-center">
                        <img src="img/piollo.svg"/>
                    </div>
                    <div class="grid h-center">
                        <span class="t-center text" data-lrv-text="about-text"></span>
                    </div>
                    <div class="grid h-center">
                        <a href="https://github.com/oknalv/piollo" class="btn">
                            <i class="fa fa-github"></i>
                            <span class="text" data-lrv-text="github"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bar grid">
            <div class="f-3-4 grid v-center h-center">
                    <img src="img/piollo.svg"/>
            </div>
            <div class="f-1-4 grid v-center h-end">
                <button class="btn icon round modal-launcher" data-lrv-modal="configuration">
                    <i class="fa fa-cogs"></i>
                </button>
                <button class="btn icon round modal-launcher" data-lrv-modal="about-piollo" data-ng-show="aboutPage">
                    <i class="fa fa-info-circle"></i>
                </button>
            </div>
        </div>
        <div class="grid">
            <div class="f-3-4">
                <div class="header-bar grid h-center v-center">
                    <button class="btn icon round" data-ng-click="takePicture()" data-ng-show="!taking">
                        <i class="fa fa-camera"></i>
                    </button>
                    <div data-ng-show="taking" class="piollo-loading">
                    </div>
                    <button class="btn icon round red" data-ng-show="ledOn" data-ng-click="turnOffLed()">
                        <i class="fa fa-lightbulb-o"></i>
                    </button>
                    <button class="btn icon round" data-ng-show="!ledOn" data-ng-click="turnOnLed()">
                        <i class="fa fa-lightbulb-o"></i>
                    </button>
                </div>
                <div class="piollo-video-container" id="video-container">
                    <div class="grid v-center h-center" data-ng-show="streaming && !loading" id="video-parent">
                        <img id="video" class="piollo-video"/>
                    </div>
                    <div class="piollo-no-video grid v-center h-center" data-ng-show="!streaming || streaming && loading">
                        <div class="piollo-controls">
                            <div data-ng-show="loading" class="piollo-loading">
                            </div>
                            <button data-ng-show="!loading" class="btn icon round" data-ng-click="startStreaming()">
                                <i class="fa fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div
                            class="piollo-streaming-controls-container grid v-center h-center"
                            data-ng-mouseenter="streamingControlsVisible = true"
                            data-ng-mouseleave="streamingControlsVisible = false"
                    >
                        <div class="piollo-controls" data-ng-show="streaming && streamingControlsVisible">
                            <button class="btn icon round" data-ng-click="stopStreaming()">
                                <i class="fa fa-stop"></i>
                            </button>
                            <button class="btn icon round" data-ng-show="streaming && !loading" data-ng-click="fullScreen()">
                                <i class="fa fa-arrows-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f-1-4">
                <div class="header-bar tabs">
                    <div class="selected" data-lrv-tab="pictures">
                        <i class="fa fa-picture-o icon"></i>
                    </div>
                    <!--<div data-lrv-tab="videos">
                        <i class="fa fa-film icon"></i>
                    </div>-->
                </div>
                <div id="pictures" class="piollo-file-browser">
                    <table data-ng-show="pictures.length > 0" class="w-full table">
                        <tbody>
                            <tr data-ng-repeat="picture in pictures" data-ng-click="showImage(picture)">
                                <td><img data-ng-src="pictures/{{picture}}" class="piollo-thumbnail h-center"/></td>
                                <td>{{picture}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div id="videos" class="w-full">
                    zsadasd
                </div>-->
            </div>
        </div>
        <img id="pic"/>
        <script src="js/app.js"></script>
    </body>
</html>